body {
  margin: 0;
  font-family: "True North", "Arial Rounded MT", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font: 1rem/1.25rem "True North","Arial Rounded MT",Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #4c6b80;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
